/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   The Spice Bowl Payment Form Style Sheet
   Author: Vahid Hamidizadeh
   Date:   21/05/2016

   Filename:         payment.css
   Supporting Files: go.png, stop.png

*/
form fieldset 
{
	border:none;
	margin: 5px;

}
form fieldset legend 
{
	background-color: rgb(239,198,145);
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	text-indent: 20px;
	width: 100%;
	border-radius: 10px;
	
}

form label
{
	display: block;
	float: left;
	clear: left;
	font-size: 0.8em;
	text-align: right;
	margin: 2px 5px ;
	width: 25%;
}
form input
{
	display: block;
	float: left;
	font-size: 0.9em;
	width: 60%;
	margin: 2px 0px;
}

form select
{
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 2px ;
}
form textarea
{
	display: block;
	float: left;
	font-size: 0.9em;
	height: 75px;
	width: 60%;
}

fieldset.optionGroup
{
	margin-left: 25%;
}

fieldset.optionGroup  label
{
	display: inline;
	float: none;
	width: 100px;
}

fieldset.optionGroup  input
{
	display: inline;
	float: none;
	margin:0px;
	width: 20px;
}

input#csc
{
	width: 50px;
}
form button
{
	background-color: rgb(239,198,145);
	float:none;
	width: 150px;
	height: 30px;
	margin: 10px auto;
	border-radius: 15px;

}

form input:focus
{
    background-color: rgb(255,218,165);
}

form select:focus
{
	background-color: rgb(255,218,165);
}

form textarea:focus
{
	background-color: rgb(255,218,165);
}

form input:focus:invalid
{
    background: rgb(255,245,215) url(stop.png) bottom right no-repeat;
}

form select:focus:invalid
{
	background: rgb(255,245,215) url(stop.png) bottom right no-repeat;
}

form textarea:focus:invalid
{
	background: rgb(255,245,215) url(stop.png) bottom right no-repeat;
}

form input:focus:valid
{
    background: rgb(215,255,215) url(go.png) bottom right no-repeat;
}

form select:focus:valid
{
	background: rgb(215,255,215) url(go.png) bottom right no-repeat;
}

form textarea:focus:valid
{
	background: rgb(215,255,215) url(go.png) bottom right no-repeat;
}
